In [1]:
import pandas as pd

In [18]:
sheet_name = pd.ExcelFile("f923_2022/EIA923_Schedules_2_3_4_5_M_12_2022_21FEB2023.xlsx").sheet_names

In [24]:
sheet_name

['Page 1 Generation and Fuel Data',
 'Page 1 Puerto Rico',
 'Page 1 Energy Storage',
 'Page 2 Stocks Data',
 'Page 2 Oil Stocks Data',
 'Page 3 Boiler Fuel Data',
 'Page 4 Generator Data',
 'Page 5 Fuel Receipts and Costs',
 'Page 6 Plant Frame',
 'Page 6 Plant Frame Puerto Rico',
 'Page 7 File Layout']

In [20]:
df= pd.read_excel("f923_2022/EIA923_Schedules_2_3_4_5_M_12_2022_21FEB2023.xlsx", sheet_name=sheet_name[2])

In [36]:
df.head()

,"U.S. Department of Energy, The Energy Information Administration (EIA)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69
0,EIA-923 Monthly Generation and Fuel Consumptio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sources: EIA-923 and EIA-860 Reports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Year-To-Date,NaN,NaN,NaN,NaN
3,Plant Id,Combined Heat And\nPower Plant,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,NAICS Code,...,Netgen\nAugust,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Gross Generation\n(Megawatthours),Net Generation\n(Megawatthours),YEAR
4,104,N,J S Eastwood,Southern California Edison Co,17609,CA,PACC,WECC,NaN,22,...,46793,17842,0,0,-108,1462,1462,146564,145100,2022

In [37]:
list(df.iloc[3])

['Plant Id',
 'Combined Heat And\nPower Plant',
 'Plant Name',
 'Operator Name',
 'Operator Id',
 'Plant State',
 'Census Region',
 'NERC Region',
 'Reserved',
 'NAICS Code',
 'EIA Sector Number',
 'Sector Name',
 'Reported\nPrime Mover',
 'Reported\nFuel Type Code',
 'AER\nFuel Type Code',
 'Balancing\nAuthority Code',
 'Physical\nUnit Label',
 'Quantity\nJanuary',
 'Quantity\nFebruary',
 'Quantity\nMarch',
 'Quantity\nApril',
 'Quantity\nMay',
 'Quantity\nJune',
 'Quantity\nJuly',
 'Quantity\nAugust',
 'Quantity\nSeptember',
 'Quantity\nOctober',
 'Quantity\nNovember',
 'Quantity\nDecember',
 'Elec_Quantity\nJanuary',
 'Elec_Quantity\nFebruary',
 'Elec_Quantity\nMarch',
 'Elec_Quantity\nApril',
 'Elec_Quantity\nMay',
 'Elec_Quantity\nJune',
 'Elec_Quantity\nJuly',
 'Elec_Quantity\nAugust',
 'Elec_Quantity\nSeptember',
 'Elec_Quantity\nOctober',
 'Elec_Quantity\nNovember',
 'Elec_Quantity\nDecember',
 'Grossgen\nJanuary',
 'Grossgen\nFebruary',
 'Grossgen\nMarch',
 'Grossgen\nApril',
 'Grossgen\nMay',
 'Grossgen\nJune',
 'Grossgen\nJuly',
 'Grossgen\nAugust',
 'Grossgen\nSeptember',
 'Grossgen\nOctober',
 'Grossgen\nNovember',
 'Grossgen\nDecember',
 'Netgen\nJanuary',
 'Netgen\nFebruary',
 'Netgen\nMarch',
 'Netgen\nApril',
 'Netgen\nMay',
 'Netgen\nJune',
 'Netgen\nJuly',
 'Netgen\nAugust',
 'Netgen\nSeptember',
 'Netgen\nOctober',
 'Netgen\nNovember',
 'Netgen\nDecember',
 'Total Fuel Consumption\nQuantity',
 'Electric Fuel Consumption\nQuantity',
 'Gross Generation\n(Megawatthours)',
 'Net Generation\n(Megawatthours)',
 'YEAR']

In [40]:
df.columns = list(df.iloc[3])

In [64]:
def format_column_name(df_col:list) -> list:
    df_new = [i.replace('\n','_').replace(' ','_').lower() for i in df_col]
    return df_new

In [65]:
format_column_name(df.columns)

['plant_id',
 'combined_heat_and_power_plant',
 'plant_name',
 'operator_name',
 'operator_id',
 'plant_state',
 'census_region',
 'nerc_region',
 'reserved',
 'naics_code',
 'eia_sector_number',
 'sector_name',
 'reported_prime_mover',
 'reported_fuel_type_code',
 'aer_fuel_type_code',
 'balancing_authority_code',
 'physical_unit_label',
 'quantity_january',
 'quantity_february',
 'quantity_march',
 'quantity_april',
 'quantity_may',
 'quantity_june',
 'quantity_july',
 'quantity_august',
 'quantity_september',
 'quantity_october',
 'quantity_november',
 'quantity_december',
 'elec_quantity_january',
 'elec_quantity_february',
 'elec_quantity_march',
 'elec_quantity_april',
 'elec_quantity_may',
 'elec_quantity_june',
 'elec_quantity_july',
 'elec_quantity_august',
 'elec_quantity_september',
 'elec_quantity_october',
 'elec_quantity_november',
 'elec_quantity_december',
 'grossgen_january',
 'grossgen_february',
 'grossgen_march',
 'grossgen_april',
 'grossgen_may',
 'grossgen_june',
 'grossgen_july',
 'grossgen_august',
 'grossgen_september',
 'grossgen_october',
 'grossgen_november',
 'grossgen_december',
 'netgen_january',
 'netgen_february',
 'netgen_march',
 'netgen_april',
 'netgen_may',
 'netgen_june',
 'netgen_july',
 'netgen_august',
 'netgen_september',
 'netgen_october',
 'netgen_november',
 'netgen_december',
 'total_fuel_consumption_quantity',
 'electric_fuel_consumption_quantity',
 'gross_generation_(megawatthours)',
 'net_generation_(megawatthours)',
 'year']

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 97 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   U.S. Department of Energy, The Energy Information Administration (EIA)  36 non-null     object
 1   Unnamed: 1                                                              33 non-null     object
 2   Unnamed: 2                                                              33 non-null     object
 3   Unnamed: 3                                                              33 non-null     object
 4   Unnamed: 4                                                              33 non-null     object
 5   Unnamed: 5                                                              33 non-null     object
 6   Unnamed: 6                                                              33 non-null     object
 7   Unnamed: 7                                                              1 non-null      object
 8   Unnamed: 8                                                              1 non-null      object
 9   Unnamed: 9                                                              1 non-null      object
 10  Unnamed: 10                                                             33 non-null     object
 11  Unnamed: 11                                                             33 non-null     object
 12  Unnamed: 12                                                             33 non-null     object
 13  Unnamed: 13                                                             33 non-null     object
 14  Unnamed: 14                                                             33 non-null     object
 15  Unnamed: 15                                                             33 non-null     object
 16  Unnamed: 16                                                             1 non-null      object
 17  Unnamed: 17                                                             1 non-null      object
 18  Unnamed: 18                                                             27 non-null     object
 19  Unnamed: 19                                                             34 non-null     object
 20  Unnamed: 20                                                             33 non-null     object
 21  Unnamed: 21                                                             33 non-null     object
 22  Unnamed: 22                                                             33 non-null     object
 23  Unnamed: 23                                                             33 non-null     object
 24  Unnamed: 24                                                             33 non-null     object
 25  Unnamed: 25                                                             33 non-null     object
 26  Unnamed: 26                                                             33 non-null     object
 27  Unnamed: 27                                                             33 non-null     object
 28  Unnamed: 28                                                             33 non-null     object
 29  Unnamed: 29                                                             33 non-null     object
 30  Unnamed: 30                                                             33 non-null     object
 31  Unnamed: 31                                                             34 non-null     object
 32  Unnamed: 32                                                             33 non-null     object
 33  Unnamed: 33                                                             33 non-null     object
 34  Unnamed: 34                                                             33 non-null     object
 35  Unnamed: 35                                                             33 non-null     object
 36  Unnamed: 36                                                             33 non-null     object
 37  Unnamed: 37                                                             33 non-null     object
 38  Unnamed: 38                                                             33 non-null     object
 39  Unnamed: 39                                                             33 non-null     object
 40  Unnamed: 40                                                             33 non-null     object
 41  Unnamed: 41                                                             33 non-null     object
 42  Unnamed: 42                                                             33 non-null     object
 43  Unnamed: 43                                                             34 non-null     object
 44  Unnamed: 44                                                             33 non-null     object
 45  Unnamed: 45                                                             33 non-null     object
 46  Unnamed: 46                                                             33 non-null     object
 47  Unnamed: 47                                                             33 non-null     object
 48  Unnamed: 48                                                             33 non-null     object
 49  Unnamed: 49                                                             33 non-null     object
 50  Unnamed: 50                                                             33 non-null     object
 51  Unnamed: 51                                                             33 non-null     object
 52  Unnamed: 52                                                             33 non-null     object
 53  Unnamed: 53                                                             33 non-null     object
 54  Unnamed: 54                                                             33 non-null     object
 55  Unnamed: 55                                                             34 non-null     object
 56  Unnamed: 56                                                             33 non-null     object
 57  Unnamed: 57                                                             33 non-null     object
 58  Unnamed: 58                                                             33 non-null     object
 59  Unnamed: 59                                                             33 non-null     object
 60  Unnamed: 60                                                             33 non-null     object
 61  Unnamed: 61                                                             33 non-null     object
 62  Unnamed: 62                                                             33 non-null     object
 63  Unnamed: 63                                                             33 non-null     object
 64  Unnamed: 64                                                             33 non-null     object
 65  Unnamed: 65                                                             33 non-null     object
 66  Unnamed: 66                                                             33 non-null     object
 67  Unnamed: 67                                                             34 non-null     object
 68  Unnamed: 68                                                             33 non-null     object
 69  Unnamed: 69                                                             33 non-null     object
 70  Unnamed: 70                                                             33 non-null     object
 71  Unnamed: 71                                                             33 non-null     object
 72  Unnamed: 72                                                             33 non-null     object
 73  Unnamed: 73                                                             33 non-null     object
 74  Unnamed: 74                                                             33 non-null     object
 75  Unnamed: 75                                                             33 non-null     object
 76  Unnamed: 76                                                             33 non-null     object
 77  Unnamed: 77                                                             33 non-null     object
 78  Unnamed: 78                                                             33 non-null     object
 79  Unnamed: 79                                                             34 non-null     object
 80  Unnamed: 80                                                             33 non-null     object
 81  Unnamed: 81                                                             33 non-null     object
 82  Unnamed: 82                                                             33 non-null     object
 83  Unnamed: 83                                                             33 non-null     object
 84  Unnamed: 84                                                             33 non-null     object
 85  Unnamed: 85                                                             33 non-null     object
 86  Unnamed: 86                                                             33 non-null     object
 87  Unnamed: 87                                                             33 non-null     object
 88  Unnamed: 88                                                             33 non-null     object
 89  Unnamed: 89                                                             33 non-null     object
 90  Unnamed: 90                                                             33 non-null     object
 91  Unnamed: 91                                                             34 non-null     object
 92  Unnamed: 92                                                             33 non-null     object
 93  Unnamed: 93                                                             33 non-null     object
 94  Unnamed: 94                                                             33 non-null     object
 95  Unnamed: 95                                                             33 non-null     object
 96  Unnamed: 96                                                             33 non-null     object
dtypes: object(97)
memory usage: 28.2+ KB

['Plant_Id',
 'Combined_Heat_And_Power_Plant',
 'Nuclear_Unit_Id',
 'Plant_Name',
 'Operator_Name',
 'Operator_Id',
 'Plant_State',
 'Census_Region',
 'NERC_Region',
 'Reserved',
 'NAICS_Code',
 'EIA_Sector_Number',
 'Sector_Name',
 'Reported_Prime_Mover',
 'Reported_Fuel_Type_Code',
 'AER_Fuel_Type_Code',
 'Reserved',
 'Reserved',
 'Physical_Unit_Label',
 'Quantity_January',
 'Quantity_February',
 'Quantity_March',
 'Quantity_April',
 'Quantity_May',
 'Quantity_June',
 'Quantity_July',
 'Quantity_August',
 'Quantity_September',
 'Quantity_October',
 'Quantity_November',
 'Quantity_December',
 'Elec_Quantity_January',
 'Elec_Quantity_February',
 'Elec_Quantity_March',
 'Elec_Quantity_April',
 'Elec_Quantity_May',
 'Elec_Quantity_June',
 'Elec_Quantity_July',
 'Elec_Quantity_August',
 'Elec_Quantity_September',
 'Elec_Quantity_October',
 'Elec_Quantity_November',
 'Elec_Quantity_December',
 'MMBtuPer_Unit_January',
 'MMBtuPer_Unit_February',
 'MMBtuPer_Unit_March',
 'MMBtuPer_Unit_April',
 'MMBtuPer_Unit_May',
 'MMBtuPer_Unit_June',
 'MMBtuPer_Unit_July',
 'MMBtuPer_Unit_August',
 'MMBtuPer_Unit_September',
 'MMBtuPer_Unit_October',
 'MMBtuPer_Unit_November',
 'MMBtuPer_Unit_December',
 'Tot_MMBtu_January',
 'Tot_MMBtu_February',
 'Tot_MMBtu_March',
 'Tot_MMBtu_April',
 'Tot_MMBtu_May',
 'Tot_MMBtu_June',
 'Tot_MMBtu_July',
 'Tot_MMBtu_August',
 'Tot_MMBtu_September',
 'Tot_MMBtu_October',
 'Tot_MMBtu_November',
 'Tot_MMBtu_December',
 'Elec_MMBtu_January',
 'Elec_MMBtu_February',
 'Elec_MMBtu_March',
 'Elec_MMBtu_April',
 'Elec_MMBtu_May',
 'Elec_MMBtu_June',
 'Elec_MMBtu_July',
 'Elec_MMBtu_August',
 'Elec_MMBtu_September',
 'Elec_MMBtu_October',
 'Elec_MMBtu_November',
 'Elec_MMBtu_December',
 'Netgen_January',
 'Netgen_February',
 'Netgen_March',
 'Netgen_April',
 'Netgen_May',
 'Netgen_June',
 'Netgen_July',
 'Netgen_August',
 'Netgen_September',
 'Netgen_October',
 'Netgen_November',
 'Netgen_December',
 'Total_Fuel_Consumption_Quantity',
 'Electric_Fuel_Consumption_Quantity',
 'Total_Fuel_Consumption_MMBtu',
 'Elec_Fuel_Consumption_MMBtu',
 'Net_Generation_(Megawatthours)',
 'YEAR']

In [1]:
url  = "https://www.eia.gov/electricity/data/eia923/archive/xls/f923_2021.zip"

In [29]:
url.split('/')[-1]

'f923_2021.zip'

In [15]:
import re
re.findall('\d+', url.split('/')[-1] )[-1]

'2021'

In [66]:
import columns_name

print(len(columns_name.sheet_0_columns_rq), len(columns_name.sheet_1_columns_rq))

92 92

In [67]:
print(len(columns_name.sheet_2_columns_rq), len(columns_name.sheet_3_columns_rq))

66 37

In [68]:
print(len(columns_name.sheet_4_columns_rq), len(columns_name.sheet_5_columns_rq))

28 65

In [69]:
print(len(columns_name.sheet_6_columns_rq), len(columns_name.sheet_7_columns_rq))

28 31

In [71]:
print(len(columns_name.sheet_8_columns_rq), len(columns_name.sheet_9_columns_rq))

9 9

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 70 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Plant Id                            284 non-null    object
 1   Combined Heat And
Power Plant       282 non-null    object
 2   Plant Name                          282 non-null    object
 3   Operator Name                       282 non-null    object
 4   Operator Id                         282 non-null    object
 5   Plant State                         282 non-null    object
 6   Census Region                       282 non-null    object
 7   NERC Region                         270 non-null    object
 8   Reserved                            1 non-null      object
 9   NAICS Code                          282 non-null    object
 10  EIA Sector Number                   282 non-null    object
 11  Sector Name                         282 non-null    object
 12  Reported
Prime Mover                282 non-null    object
 13  Reported
Fuel Type Code             282 non-null    object
 14  AER
Fuel Type Code                  282 non-null    object
 15  Balancing
Authority Code            271 non-null    object
 16  Physical
Unit Label                 200 non-null    object
 17  Quantity
January                    283 non-null    object
 18  Quantity
February                   282 non-null    object
 19  Quantity
March                      282 non-null    object
 20  Quantity
April                      282 non-null    object
 21  Quantity
May                        282 non-null    object
 22  Quantity
June                       282 non-null    object
 23  Quantity
July                       282 non-null    object
 24  Quantity
August                     282 non-null    object
 25  Quantity
September                  282 non-null    object
 26  Quantity
October                    282 non-null    object
 27  Quantity
November                   282 non-null    object
 28  Quantity
December                   282 non-null    object
 29  Elec_Quantity
January               283 non-null    object
 30  Elec_Quantity
February              282 non-null    object
 31  Elec_Quantity
March                 282 non-null    object
 32  Elec_Quantity
April                 282 non-null    object
 33  Elec_Quantity
May                   282 non-null    object
 34  Elec_Quantity
June                  282 non-null    object
 35  Elec_Quantity
July                  282 non-null    object
 36  Elec_Quantity
August                282 non-null    object
 37  Elec_Quantity
September             282 non-null    object
 38  Elec_Quantity
October               282 non-null    object
 39  Elec_Quantity
November              282 non-null    object
 40  Elec_Quantity
December              282 non-null    object
 41  Grossgen
January                    283 non-null    object
 42  Grossgen
February                   282 non-null    object
 43  Grossgen
March                      282 non-null    object
 44  Grossgen
April                      282 non-null    object
 45  Grossgen
May                        282 non-null    object
 46  Grossgen
June                       282 non-null    object
 47  Grossgen
July                       282 non-null    object
 48  Grossgen
August                     282 non-null    object
 49  Grossgen
September                  282 non-null    object
 50  Grossgen
October                    282 non-null    object
 51  Grossgen
November                   282 non-null    object
 52  Grossgen
December                   282 non-null    object
 53  Netgen
January                      283 non-null    object
 54  Netgen
February                     282 non-null    object
 55  Netgen
March                        282 non-null    object
 56  Netgen
April                        282 non-null    object
 57  Netgen
May                          282 non-null    object
 58  Netgen
June                         282 non-null    object
 59  Netgen
July                         282 non-null    object
 60  Netgen
August                       282 non-null    object
 61  Netgen
September                    282 non-null    object
 62  Netgen
October                      282 non-null    object
 63  Netgen
November                     282 non-null    object
 64  Netgen
December                     282 non-null    object
 65  Total Fuel Consumption
Quantity     283 non-null    object
 66  Electric Fuel Consumption
Quantity  282 non-null    object
 67  Gross Generation
(Megawatthours)    282 non-null    object
 68  Net Generation
(Megawatthours)      282 non-null    object
 69  YEAR                                282 non-null    object
dtypes: object(70)
memory usage: 156.0+ KB

In [21]:
df = df.astype(str)

In [22]:
df.shape

(285, 70)

In [25]:
def afa():
    try:
        a='AFA'
    except:
        print('error')
    return a

In [26]:
afa()

'AFA'

In [2]:
sheet_name = pd.ExcelFile("f923_2021/EIA923_Schedules_2_3_4_5_M_12_2021_Final_Revision.xlsx").sheet_names

In [3]:
sheet_name

['Page 1 Generation and Fuel Data',
 'Page 1 Puerto Rico',
 'Page 1 Energy Storage',
 'Page 2 Stocks Data',
 'Page 2 Oil Stocks Data',
 'Page 2 Coal Stocks Data',
 'Page 2 Petcoke Stocks Data',
 'Page 3 Boiler Fuel Data',
 'Page 4 Generator Data',
 'Page 5 Fuel Receipts and Costs',
 'Page 6 Plant Frame',
 'Page 6 Plant Frame Puerto Rico',
 'Page 7 File Layout']

In [4]:
len(sheet_name)

13

In [11]:
df= pd.read_excel("f923_2021/EIA923_Schedules_2_3_4_5_M_12_2021_Final_Revision.xlsx", sheet_name=sheet_name[7])

In [12]:
df.head()

,"U.S. Department of Energy, The Energy Information Administration (EIA)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,EIA-923 Monthly Boiler Fuel Consumption and Em...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sources: EIA-923 and EIA-860 Reports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Year-To-Date,NaN,NaN
4,Plant Id,Combined Heat And\n Power Plant,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,NAICS Code,Sector Number,...,Ash Content\nJune,Ash Content\nJuly,Ash Content\nAugust,Ash Content\nSeptember,Ash Content\nOctober,Ash Content\nNovember,Ash Content\nDecember,Total Fuel Consumption\nQuantity,Balancing\nAuthority Code,YEAR

In [14]:
import excel_file_settings

print(list(df.iloc[4]) == excel_file_settings.sheet_7_columns)

False

In [18]:
len(excel_file_settings.sheet_7_columns), len(list(df.iloc[4])), sheet_name[7]

(66, 67, 'Page 3 Boiler Fuel Data')

In [19]:
list(df.iloc[4])

['Plant Id',
 'Combined Heat And\n Power Plant',
 'Plant Name',
 'Operator Name',
 'Operator Id',
 'Plant State',
 'Census Region',
 'NERC Region',
 'NAICS Code',
 'Sector Number',
 'Sector Name',
 'Boiler Id',
 'Reported\nPrime Mover',
 'Reported\nFuel Type Code',
 'Respondent\nFrequency',
 'Physical Unit Label',
 'Quantity Of Fuel Consumed\nJanuary',
 'Quantity Of Fuel Consumed\nFebruary',
 'Quantity Of Fuel Consumed\nMarch',
 'Quantity Of Fuel Consumed\nApril',
 'Quantity Of Fuel Consumed\nMay',
 'Quantity Of Fuel Consumed\nJune',
 'Quantity Of Fuel Consumed\nJuly',
 'Quantity Of Fuel Consumed\nAugust',
 'Quantity Of Fuel Consumed\nSeptember',
 'Quantity Of Fuel Consumed\nOctober',
 'Quantity Of Fuel Consumed\nNovember',
 'Quantity Of Fuel Consumed\nDecember',
 'MMbtu Per Unit\nJanuary',
 'MMbtu Per Unit\nFebruary',
 'MMbtu Per Unit\nMarch',
 'MMbtu Per Unit\nApril',
 'MMbtu Per Unit\nMay',
 'MMbtu Per Unit\nJune',
 'MMbtu Per Unit\nJuly',
 'MMbtu Per Unit\nAugust',
 'MMbtu Per Unit\nSeptember',
 'MMbtu Per Unit\nOctober',
 'MMbtu Per Unit\nNovember',
 'MMbtu Per Unit\nDecember',
 'Sulfur Content\nJanuary',
 'Sulfur Content\nFebruary',
 'Sulfur Content\nMarch',
 'Sulfur Content\nApril',
 'Sulfur Content\nMay',
 'Sulfur Content\nJune',
 'Sulfur Content\nJuly',
 'Sulfur Content\nAugust',
 'Sulfur Content\nSeptember',
 'Sulfur Content\nOctober',
 'Sulfur Content\nNovember',
 'Sulfur Content\nDecember',
 'Ash Content\nJanuary',
 'Ash Content\nFebruary',
 'Ash Content\nMarch',
 'Ash Content\nApril',
 'Ash Content\nMay',
 'Ash Content\nJune',
 'Ash Content\nJuly',
 'Ash Content\nAugust',
 'Ash Content\nSeptember',
 'Ash Content\nOctober',
 'Ash Content\nNovember',
 'Ash Content\nDecember',
 'Total Fuel Consumption\nQuantity',
 'Balancing\nAuthority Code',
 'YEAR']

In [22]:
len(excel_file_settings.sheet_0_columns)

97

In [17]:
## Use this code to locate the columne



df[df.apply(lambda row: row.tolist()[0] == 'Plant Id', axis=1)].index[0]


# fix the data schema

4

In [19]:
df.columns[0]

'U.S. Department of Energy, The Energy Information Administration (EIA)'

In [1]:
import pandas as pd
import excel_file_settings

year = 14

sheet_name = pd.ExcelFile(f"f923_20{year}/EIA923_Schedules_2_3_4_5_M_12_20{year}_Final_Revision.xlsx").sheet_names

df= pd.read_excel(f"f923_20{year}/EIA923_Schedules_2_3_4_5_M_12_20{year}_Final_Revision.xlsx", sheet_name=sheet_name[9])

# column_row_index = int(df[df.apply(lambda row: row.tolist()[0] == df.columns[0], axis=1)].index[0])

check =  all(item in list(df.iloc[3]) for item in excel_file_settings.sheet_11_columns)

print(check)


### I ended on sheet 8 (0 indexing), sheet_column 9

True

In [4]:
column_row_index = int(df[df.apply(lambda row: row.tolist()[0] == excel_file_settings.sheet_11_columns[0], axis=1)].index[0])
column_row_index

3

In [5]:
df.columns = df.iloc[column_row_index]

In [6]:
df.head()

3,YEAR,Plant Id,Plant State,Sector Number,NAICS Code,Plant Name,Combined Heat And\nPower Status,Reporting\nFrequency
0,EIA-923 Electric Power Plants Represented in t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sources: EIA-923 and EIA-860 Reports,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YEAR,Plant Id,Plant State,Sector Number,NAICS Code,Plant Name,Combined Heat And\nPower Status,Reporting\nFrequency
4,2014,2,AL,1,22,Bankhead Dam,N,A

In [22]:
sheet_name

['Page 1 Generation and Fuel Data',
 'Page 1 Energy Storage',
 'Page 2 Stocks Data',
 'Page 2 Oil Stocks Data',
 'Page 2 Coal Stocks Data',
 'Page 2 Petcoke Stocks Data',
 'Page 3 Boiler Fuel Data',
 'Page 4 Generator Data',
 'Page 5 Fuel Receipts and Costs',
 'Page 6 Plant Frame',
 'Page 7 File Layout']

In [24]:
for item in excel_file_settings.sheet_10_columns:
    print(item in list(df.iloc[3]))

True
False
True
True
True
True
True
True
True

In [4]:
excel_file_settings.sheet_1_columns

['Plant Id',
 'Combined Heat And\nPower Plant',
 'Nuclear Unit Id',
 'Plant Name',
 'Operator Name',
 'Operator Id',
 'Plant State',
 'Census Region',
 'NERC Region',
 'NAICS Code',
 'EIA Sector Number',
 'Sector Name',
 'Reported\nPrime Mover',
 'Reported\nFuel Type Code',
 'AER\nFuel Type Code',
 'Physical\nUnit Label',
 'Quantity\nJanuary',
 'Quantity\nFebruary',
 'Quantity\nMarch',
 'Quantity\nApril',
 'Quantity\nMay',
 'Quantity\nJune',
 'Quantity\nJuly',
 'Quantity\nAugust',
 'Quantity\nSeptember',
 'Quantity\nOctober',
 'Quantity\nNovember',
 'Quantity\nDecember',
 'Elec_Quantity\nJanuary',
 'Elec_Quantity\nFebruary',
 'Elec_Quantity\nMarch',
 'Elec_Quantity\nApril',
 'Elec_Quantity\nMay',
 'Elec_Quantity\nJune',
 'Elec_Quantity\nJuly',
 'Elec_Quantity\nAugust',
 'Elec_Quantity\nSeptember',
 'Elec_Quantity\nOctober',
 'Elec_Quantity\nNovember',
 'Elec_Quantity\nDecember',
 'MMBtuPer_Unit\nJanuary',
 'MMBtuPer_Unit\nFebruary',
 'MMBtuPer_Unit\nMarch',
 'MMBtuPer_Unit\nApril',
 'MMBtuPer_Unit\nMay',
 'MMBtuPer_Unit\nJune',
 'MMBtuPer_Unit\nJuly',
 'MMBtuPer_Unit\nAugust',
 'MMBtuPer_Unit\nSeptember',
 'MMBtuPer_Unit\nOctober',
 'MMBtuPer_Unit\nNovember',
 'MMBtuPer_Unit\nDecember',
 'Tot_MMBtu\nJanuary',
 'Tot_MMBtu\nFebruary',
 'Tot_MMBtu\nMarch',
 'Tot_MMBtu\nApril',
 'Tot_MMBtu\nMay',
 'Tot_MMBtu\nJune',
 'Tot_MMBtu\nJuly',
 'Tot_MMBtu\nAugust',
 'Tot_MMBtu\nSeptember',
 'Tot_MMBtu\nOctober',
 'Tot_MMBtu\nNovember',
 'Tot_MMBtu\nDecember',
 'Elec_MMBtu\nJanuary',
 'Elec_MMBtu\nFebruary',
 'Elec_MMBtu\nMarch',
 'Elec_MMBtu\nApril',
 'Elec_MMBtu\nMay',
 'Elec_MMBtu\nJune',
 'Elec_MMBtu\nJuly',
 'Elec_MMBtu\nAugust',
 'Elec_MMBtu\nSeptember',
 'Elec_MMBtu\nOctober',
 'Elec_MMBtu\nNovember',
 'Elec_MMBtu\nDecember',
 'Netgen\nJanuary',
 'Netgen\nFebruary',
 'Netgen\nMarch',
 'Netgen\nApril',
 'Netgen\nMay',
 'Netgen\nJune',
 'Netgen\nJuly',
 'Netgen\nAugust',
 'Netgen\nSeptember',
 'Netgen\nOctober',
 'Netgen\nNovember',
 'Netgen\nDecember',
 'YEAR']

In [14]:
import re

test = ['Apple', 'Boy']

[]

In [35]:
from zipfile import ZipFile

test  = ZipFile('f923_2014.zip').filelist


# r = re.compile('.*EIA923_Schedules_2_3_4_5_M_12_*')
# list(filter(r.match, test))

In [31]:
list(ZipFile('f923_2014.zip').filelist)

[<ZipInfo filename='EIA923_Schedule_8_Annual_Environmental_Information_2014_Final_Revision.xlsx' compress_type=deflate external_attr=0x20 file_size=3309431 compress_size=3035327>,
 <ZipInfo filename='EIA923_Schedules_2_3_4_5_M_12_2014_Final_Revision.xlsx' compress_type=deflate external_attr=0x20 file_size=18002057 compress_size=17331626>,
 <ZipInfo filename='EIA923_Schedules_6_7_NU_SourceNDisposition_2014_Final_Revision.xlsx' compress_type=deflate external_attr=0x20 file_size=596967 compress_size=584045>]

In [ ]:
NULLIF( plant_id, '.') AS plant_id			
NULLIF( combined_heat_and_power_plant, '.') AS combined_heat_and_power_plant			
NULLIF( plant_name, '.') AS plant_name			
NULLIF( operator_name, '.') AS operator_name			
NULLIF( operator_id, '.') AS operator_id			
NULLIF( plant_state, '.') AS plant_state			
NULLIF( census_region, '.') AS census_region			
NULLIF( nerc_region, '.') AS nerc_region			
NULLIF( naics_code, '.') AS naics_code			
NULLIF( eia_sector_number, '.') AS eia_sector_number			
NULLIF( sector_name, '.') AS sector_name			
NULLIF( reported_prime_mover, '.') AS reported_prime_mover			
NULLIF( reported_fuel_type_code, '.') AS reported_fuel_type_code			
NULLIF( aer_fuel_type_code, '.') AS aer_fuel_type_code			
NULLIF( physical_unit_label, '.') AS physical_unit_label
CAST(NULLIF( quantity_of_energy_stored, '.') AS INT) AS quantity_of_energy_stored
CAST(NULLIF( elec_quantity, '.') AS INT) AS elec_quantity
CAST(NULLIF( gross_gen, '.') AS INT) AS gross_gen
CAST(NULLIF( net_gen, '.') AS INT) AS net_gen
NULLIF( month, '.') AS month
NULLIF( year, '.') AS year